body{
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card{
    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 700px;
    height: 600px;
    margin-top: 20px;
}
.img{
    padding: 30px 20px 30px 20px;
}
img{
    width: 325px;
    border-radius: 10px;
}
.texto{
    padding: 30px 20px 30px 20px;

}
.bandeira{
    width: 25px;
}
.eua{
    display: flex;
    align-items: center;
}
.nascionalidade{
    margin-left: 10px;
}
.flimes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}
.hm{
    width: 300px;
}
